@import url('https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap');

:root {
    --primaryColor: #232931;
    --secondaryColor: #393e46;
    --highlightColor: #4ecca3;
    --lightColor: #eee;
    --mainFont: 'AlmendraSC', serif;
}

body {
    background-color: var(--primaryColor);
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
    left: 0;
    opacity: 0.1;
    max-height: 100vh;
}

.main-container .title {
    font-size: 72px;
    font-family: var(--mainFont);
    color: var(--highlightColor);
    margin: 48px;
}

.main-container .board {
    display: grid;
    grid-template-columns: repeat(15, auto);
    grid-template-rows: repeat(15, auto);
    border: 8px solid var(--lightColor);
    height: 500px;
    width: 800px;
}

.main-container .credits {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 26px;
    font-family: var(--mainFont);
    text-transform: uppercase;
    color: var(--lightColor);
}

.main-container .score, .choosen-nickname {
    color: var(--highlightColor);
    font-size: 32px;
}

.nickname-screen {
    width: 800px;
    position: absolute;
    top: calc(50% - 196px);
    left: calc(50% - 450px);
    background-color: var(--secondaryColor);
    padding: 48px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.nickname-screen .h2-title {
    font-size: 54px;
}

.nickname-screen .input-text {
    background-color: var(--secondaryColor);
    color: var(--lightColor);
    outline: none;
    overflow: hidden;
    border: none;
    border-bottom: 2px var(--highlightColor) solid;
    font-size: 32px;
}

.nickname-screen .button {
    margin-top: 22px;
    padding: 12px;
    width: 250px;
}

.snake-color {
    width: 800px;
    position: absolute;
    top: calc(50% - 196px);
    left: calc(50% - 450px);
    background-color: var(--secondaryColor);
    padding: 48px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.snake-color .h2-title {
    font-size: 44px;
}

.snake-color .button {
    margin-top: 22px;
}

.level-screen {
    width: 800px;
    position: absolute;
    top: calc(50% - 196px);
    left: calc(50% - 450px);
    background-color: var(--secondaryColor);
    padding: 48px;
    border-radius: 12px;
    visibility: hidden;
}

.h2-title {
    font-size: 72px;
    font-family: var(--mainFont);
    text-transform: uppercase;
    color: var(--lightColor);
    text-align: center;
    padding: 12px;
}

.choose-level {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}

.button{
    color: var(--highlightColor);
    text-transform: uppercase;
    background: var(--primaryColor);
    padding: 20px;
    border: 2px solid var(--highlightColor);
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    font-size: 24px;
    width: 220px;
}

.button:hover {
    color: var(--lightColor);
    border-radius: 50px;
    border-color: var(--primaryColor);
    transition: all 0.6s ease 0s;
    cursor: pointer;
}

.menu-container {
    position: fixed;
    top: 15px;
    left: 15px;
    visibility: hidden;
}

.menu-container .button {
    width: 150px;
    font-size: 18px;
    padding: 12px;
}

.endgame-screen {
    width: 800px;
    position: absolute;
    top: calc(50% - 380px);
    left: calc(50% - 450px);
    background-color: var(--secondaryColor);
    padding: 48px;
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.endgame-screen .h2-title {
    font-size: 62px;
    margin-bottom: 12px;
}

.ranking {
    width: 600px;
    font-size: 22px;
    color: var(--lightColor);
    background-color: var(--primaryColor);
    border-radius: 12px;
}

.ranking li {
    padding: 4px;
    margin: 8px;
}

.ranking li:hover {
    border-bottom: 1px var(--highlightColor) solid;
}